// Applicaiton color palette

$base-color: #FCF7FF;
$deep-blue: #0C0E38;
$light-blue: #0069B5;
$deep-gray: #797585;
$light-gray: #797585;
$deep-green: #324B4F;
$light-green: #79B5BE;
$purple: #958BB6;
$golden: #E8D5B5;
$white: #ffffff;